<!DOCTYPE html>
<html>
<head>
	<title>ToDo</title>
</head>
<body>
	

	<div class="row">
		<div class="col-md-2"></div>

		<div class="col-md-8" style="text-align: center;">

			<h1>Bienvenido ToDo</h1>
			<div style="text-align: left;">
				<%= link_to 'Nueva Tarea', new_task_path, :class => "btn btn-success"%>
			</div>
			
			<br>

			<table class="table">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Descripción</th>
						<th>Fecha de Creación</th>
						<th>Estado</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
				<%- @tasks.each do |t| %>

					<%- if t.status == 'Activa'%>

						<tr style="background-color: green;">
							<td><%= t.name%></td>
							<td><%= t.description%></td>
							<td><%= t.created_at%></td>
							<td><%= t.status%></td>
							<td><%= link_to "Editar", edit_task_path(t), :class => "btn btn-info btn-xs" %> 
			                            <%= link_to "Eliminar", task_path(t), :method => :delete, data: {confirm: 'Esta seguro?'}, :class => "btn btn-danger btn-xs" %></td>
							
						</tr>
						<%- elsif t.status == 'Progreso'%>
							<tr style="background-color: yellow;">
								<td><%= t.name%></td>
								<td><%= t.description%></td>
								<td><%= t.created_at%></td>
								<td><%= t.status%></td>
								<td><%= link_to "Editar", edit_task_path(t), :class => "btn btn-info btn-xs" %> 
				                            <%= link_to "Eliminar", task_path(t), :method => :delete, data: {confirm: 'Esta seguro?'}, :class => "btn btn-danger btn-xs" %></td>
								
							</tr>
						<%- else t.status == 'Finalizada'%>
							<tr style="background-color: red;">
								<td><%= t.name%></td>
								<td><%= t.description%></td>
								<td><%= t.created_at%></td>
								<td><%= t.status%></td>
								<td><%= link_to "Editar", edit_task_path(t), :class => "btn btn-info btn-xs" %> 
				                            <%= link_to "Eliminar", task_path(t), :method => :delete, data: {confirm: 'Esta seguro?'}, :class => "btn btn-danger btn-xs" %></td>
								
							</tr>
					<% end %>	
				<% end %>
				</tbody>
			</table>
		
		</div>
		<div class="col-md-2"></div>
		
	</div>
	

	

</body>
</html>




